.topic-thumbnail {
  border-radius: 4px;
  object-fit: cover;
}

.btn-icon-0 {
  background-color: #4ecdc4;
}

.btn-icon-1 {
  background-color: #ff6b6b;
}

.btn-icon-2 {
  background-color: #ffd166;
}

.btn-icon-3 {
  background-color: #06d6a0;
}

.btn-icon-4 {
  background-color: #118ab2;
}
